// Inherits from layout
extend layout
doctype html
// Then we produce a form that triggers /person once
// the user hits Submit
block content
  div
   a(href = '/player') 
    <button class="btn btn-default" >Player facts</button>
    
   br
   br
   br
  
   
   a(href = '/team') 
    <button class="btn btn-default" >Team facts</button>
  
   br
   br
   br
  
   br
   br
   br
  
   br
   br
   br
