// Inherits from layout
extend layout
// Then we produce a form that triggers /person once
// the user hits Submit
block navbarcontent
    +nav_item("/","active") Sample Work
    +nav_item("/yourwork") Your Work
    +nav_item("/reference") Reference
block content
   
    p
    +icon-primary("search")

    h5 highest socre of player in season:   
    form(method='get', action= '/highest')
      input(name='name', value='')
      input(type='submit', value='Highest')


    p
    +icon-primary("search")

    h5 Number of players in the country:   
    
    form(method='get', action= '/country')
      input(name='name', value='')
      input(type='submit', value='check')


    p
    +icon-primary("search")
    
    h5 10 players with highest average assists in season:

    form(method='get', action='/assists')
      input(name='name', value='')
      input(type='submit', value='check')


    p
    +icon-primary("search")
    
    h5 Average age, height, and weight for the players:

    form(method='get', action='/average_wh')
      input(type='submit', value='check')


    p
    +icon-primary("search")
    
    h5 Coach of :

    form(method='get', action='/coach')
        h5 team:
        input(name="title", value='')
        h5 season:
        input(name="name", value='')
        input(type="submit", value="check")


    p
    +icon-primary("search")
    
    h5 highest win percent in season :

    form(method='get', action='/win_percent')
        input(name="title", value='')
        input(type="submit", value="check")


    p
    +icon-primary("search")
    
    h5 most blocks in team :

    form(method='get', action='/most_in_team')
        h5 team:
        input(name="title", value='')
        h5 season:
        input(name="name", value='')
        input(type="submit", value="check")


    p
    +icon-primary("search")
    |  #{title}:
    form(method='get', action='/person')
      input(name='name', value='')
      input(type='submit', value='Show Persons')

